<ion-header>

  <ion-toolbar [color]="item.level | levelColor" *ngIf="item">
    <ion-back-button slot="start" defaultHref="/search"></ion-back-button>
    <ion-title>{{ item.id }} - {{ item.name }}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="item">
    <ion-card-header>
      <ion-card-title>{{ item.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>ID: {{ item.id }}</p>
      <p>Type: {{ item.type }}</p>
      <p>Level: {{ item.level }}</p>
      <p>Info: {{ item.info }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>